<%= form_for(@website_menu) do |f| %>
  <% if @website_menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@website_menu.errors.count, "error") %> prohibited this website_menu from being saved:</h2>

      <ul>
      <% @website_menu.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
