<h1>Listing wx_relationships</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @wx_relationships.each do |wx_relationship| %>
      <tr>
        <td><%= link_to 'Show', wx_relationship %></td>
        <td><%= link_to 'Edit', edit_wx_relationship_path(wx_relationship) %></td>
        <td><%= link_to 'Destroy', wx_relationship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wx relationship', new_wx_relationship_path %>
