<h1>Listing activity_prizes</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @activity_prizes.each do |activity_prize| %>
      <tr>
        <td><%= link_to 'Show', activity_prize %></td>
        <td><%= link_to 'Edit', edit_activity_prize_path(activity_prize) %></td>
        <td><%= link_to 'Destroy', activity_prize, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity prize', new_activity_prize_path %>
