<h1>Listing activity_notices</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @activity_notices.each do |activity_notice| %>
      <tr>
        <td><%= link_to 'Show', activity_notice %></td>
        <td><%= link_to 'Edit', edit_activity_notice_path(activity_notice) %></td>
        <td><%= link_to 'Destroy', activity_notice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity notice', new_activity_notice_path %>
