<h1>Listing activity_properties</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @activity_properties.each do |activity_property| %>
      <tr>
        <td><%= link_to 'Show', activity_property %></td>
        <td><%= link_to 'Edit', edit_activity_property_path(activity_property) %></td>
        <td><%= link_to 'Destroy', activity_property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity property', new_activity_property_path %>
