@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  margin: 0;
  outline: 0 none;
  padding: 0;
  vertical-align: baseline;
}
html,body{height:100%;}
ol, ul {
  list-style: none outside none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}
:focus {
  outline: medium none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color:#4786dc;
  outline: medium none;
  text-decoration: none;
}
a:hover{
  text-decoration:underline;
}
* {
  word-wrap: break-word;
}

img{vertical-align:top;}
body{
  background:#fbfbfb;
  margin:0 auto;
  width:100%;
  font-size: 14px;
  line-height:16px;
  font-family:"宋体","Microsoft Yahei","STHeiti","SimSun","Arail","Verdana","Helvetica","sans-serif";
}
.error{color:#ffffff;}
.tCenter{text-align:center;}
.tLeft{text-align:left;}
.tRight{text-align:right;}
.imgFix{display:block;}
.ft-14{font-size:14px;}
.vTop{vertical-align:top;}
.vMiddle{vertical-align:middle;}

h1{font-size:18px; color:#444444; font-weight:bold; line-height:1.5em; padding-bottom:5px;}
h2{font-size:18px; color:#333333; font-weight:bold; line-height:30px; height:30px; border-bottom:1px solid #e5e5e5; margin-bottom:20px;}
.headline-2-no-decoration{border-bottom:none;}
h3{font-size:14px; font-weight:bold; padding-left:6px; line-height:38px; height:38px;}
h4{font-size:16px; font-weight:normal;}
.fl{ float:left;}
.fr{ float:right;}
.check-box{margin:0; line-height:14px; vertical-align:baseline;}
.blue-text{color:#a4cd3e;}
.gray-text{color:#888888;}
.green-text{color:#4786dc;}
.orange-text{color:#ff7a03;}
.burlyWood-text{color:#b7804f;}
.underline-text{text-decoration:underline;}
.blue-anchor{color:#79a8e7; text-decoration:none;}
.green-anchor{color:#97bb3e; text-decoration:none;}
.orignal-link{color:#4786dc; text-decoration:underline;}
.orange-link{color:#ff5f00;}
.old-blue-link{color:#55798c;}
.ft-12{font-size:12px;}
.big-text{font-size:16px;}
.offset{display:block; text-align:left; overflow:hidden; text-indent:-999px;}
.section{width:100%;}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.mask{height:100%; width:100%; background:#000; position:absolute; top:0; left:0; opacity:0.5; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=50);}
.popup{position:fixed; top:50%; left:50%;}
.sprits{background-image:image_url('sprits.png'); background-repeat:no-repeat;}

.button{display:block; text-align:left; text-indent:-9999px; overflow:hidden; cursor:pointer;}
.button:hover{text-decoration:none;}
.button-add{background-position:-11px -147px; height:27px; width:48px;}
.button-next-step{background-position:-72px -139px; height:46px; width:102px;}
.button-dashboard-edit{height:49px; width:175px; background-position:-375px -732px;}
.button-dashboard-delete{height:49px; width:175px; background-position:-375px -796px;}
.button-59{background-position:-109px -152px; width:59px;}
.button-79{background-position:-180px -152px; width:79px;}
.button-89{background-position:-269px -152px; width:89px;}
.button-89-bright{background-position:-368px -152px; width:89px;}
.button-189{background-position:-467px -152px; height:37px; line-height:37px; font-size:16px; width:189px;}
.button-269{background-position:-666px -152px; height:37px; line-height:37px; font-size:16px; width:269px;}
.button-149{background-position:-604px -868px; height:33px; line-height:30px; font-size:14px; width:149px;}
.button-109{background:image_url('bg_button_109.png') no-repeat; padding-left:40px; width:69px;}

.box-980{width:980px; background-position:0 0; background-repeat:repeat-y;}
.box-980-inner{width:100%; background:image_url('bg_content_top.png') no-repeat;}
.box-980-main{background-position:-989px bottom; padding:23px 20px; min-height: 400px; height: auto !important; height: 400px;}

.box-980-inner-normal{background-position:-5363px top;}
.box-980-main-normal{min-height: 0; height:auto; padding-top:15px; padding-bottom:15px;}

.box-980-s{width:980px; background-position:-2735px 0; background-repeat:repeat-y;}
.box-980-s-inner{width:100%; background-position:-1746px top;}
.box-980-s-main{background-position:-3724px bottom; padding:20px 0; min-height: 400px; height: auto !important; height: 400px;}

.box-940{width:940px; background-position:-2927px 0; background-repeat:repeat-y;}
.box-940-inner{width:100%; background-position:-1978px top;}
.box-940-main{background-position:-3876px bottom; padding:12px 14px;}

.box-926{width:926px; background-position:-936px 0; background-repeat:repeat-y;}
.box-926-inner{width:100%; background-position:0 top;}
.box-926-main{background-position:-1872px bottom; padding:12px 14px;}

.box-791{width:791px; background-position:-8036px 0; background-repeat:repeat-y;}
.box-791-inner{width:100%; background-position:-7235px top;}
.box-791-main{background-position:-8837px bottom; padding:12px 14px;}

.box-552{width:552px; background-position:-6111px 0; background-repeat:repeat-y;}
.box-552-inner{width:100%; background-position:-5549px top;}
.box-552-main{background-position:-6673px bottom; padding:10px 14px;}

.box-352{width:352px; background:#e1d8cf;}
.box-352-inner{width:100%; background-position:-4825px top;}
.box-352-main{background-position:-5187px bottom;}

.box-640{width:640px; background-position:-2808px 0; background-repeat:repeat-y;}
.box-640-inner{width:100%; background:image_url('bg_content_top_640.png') no-repeat;}
.box-640-main{background-position:-3458px bottom; padding:23px 20px; min-height: 300px; height: auto !important; height: 300px;}

.box-640-inner-normal{background-position:-4713px top;}
.box-640-main-normal{min-height: 0; height:auto;}

.box-320{width:320px; background-position:-4438px 0; background-repeat:repeat-y; margin-bottom:10px;}
.box-320-inner{width:100%; background-position:-4108px top;}
.box-320-main{background-position:-4768px bottom; padding:15px;}
.box-320-shadow{background:image_url('bg_bind_account.png') no-repeat left bottom; padding-bottom:45px;}

.box-402{width:402px; background-position:-5510px 0; background-repeat:repeat-y; margin-bottom:10px;}
.box-402-inner{width:100%; background-position:-5098px top;}
.box-402-main{background-position:-5922px bottom; padding:1px;}

.box-542{width:542px; background-position:-6886px 0; background-repeat:repeat-y; margin-bottom:10px;}
.box-542-inner{width:100%; background-position:-6334px top;}
.box-542-main{background-position:-7438px bottom; padding:15px 13px;}

.box-572{width:572px; background-position:-582px 0; background-repeat:repeat-y; margin-bottom:10px;}
.box-572-inner{width:100%; background-position:0 top;}
.box-572-main{background-position:-1164px bottom; padding:15px 13px;}

.box-640-normal{width:640px; background-position:-650px 0; background-repeat:repeat-y; margin-bottom:10px;}
.box-640-normal-inner{width:100%; background-position:0 top;}
.box-640-normal-main{background-position:-1300px bottom; padding:15px 13px;}

.box-260{width:260px; background-position:-2220px 0; background-repeat:repeat-y; margin-bottom:10px;}
.box-260-inner{width:100%; background-position:-1950px top;}
.box-260-main{background-position:-2490px bottom; padding:15px 13px;}

.box-active-page{padding:35px 27px;}
.box-invite-form{padding:20px 30px;}
.bonous-rule p,
.bonous-rule-indent{line-height:26px;}
.bonous-rule-indent{padding-left:10px; color:#888888;}
.bonous-equal-height{height:290px;}

.invite-link{padding-top:5px; margin-bottom:25px; padding-bottom:25px; border-bottom:1px dotted #dcdcdc;}
.invite-form{padding:10px 0 0;}
.invite-form h2{padding:20px 0 20px;}
.invite-form label{color:#888888;}
.invite-form .button{position:relative; top:4px;}

.box-bar{display:block; overflow:hidden;}

.table-top-touch{margin:0;}
.table td,
.table th{padding:8px 0 8px 8px;}
.table td{vertical-align:middle; color:#888; font-size:14px; border-top:1px solid #dddddd; background:#f9f9f9;}
.table th{font-size:14px; text-align:left; color:#676867;}
.table td{line-height:16px;}
.table .txt-left-align{text-align:left;}
.table .last-row td{border-bottom:none;}
.even td{background:#f7fbee;}
.table-action{text-align:right; margin-top:20px; padding:4px 10px 4px 8px; border-bottom:1px solid #e3eff3; background:#f6f6f6;}
.table-tool .button{margin-right:4px;}
.table .ui-text-link{color:#b7804f; text-decoration:underline;}
.table-ad-copywriter td{padding-top:18px; padding-bottom:18px;}

.table2 {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table2 {
  width: 100%;
  margin-bottom: 18px;
}

.table2 th,
.table2 td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table2 th {
  font-weight: bold;
}

.table2 thead th {
  vertical-align: bottom;
}

.error-tip{position:absolute; left:325px; top:1px; width:270px;}
.error-corner{height:27px;}
.error-c-left{width:10px; background-position:0 -821px;}
.error-c-right{width:5px; background-position:-120px -821px;}
.error-c-text{height:27px; line-height:27px; font-size:12px; padding:0 15px; background:#e1d8cf; vertical-align:top;}

.table-inner{border:none; margin:0;}
.mb-commision-balance th,
.mb-commision-balance td{padding:0 8px 0 30px; line-height:42px; text-align:left;}
.mb-commision-balance th{border-left:none;}
.mb-commision-balance .end-row th,
.mb-commision-balance .end-row td{border-bottom:none;}

.box-nav-log{padding-left:1px; padding-right:2px;}

.invite-friends{border-top: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; margin-bottom:0;}
.invite-friends th{background:#f0f0f0; font-weight:normal; font-size:14px; color:#666666; text-align:center;}
.invite-friends-main{margin:0 auto; width:910px;}
.invite-friends-main td{vertical-align:middle; border-bottom: 1px dotted #DDDDDD; border-top:none; color:#444444; text-align:center; font-size:14px;}
.invite-friends-main .date{color:#888888;}
.table .tLeft{text-align:left;}
.table .tCenter{text-align:center;}

.progress-steps{position:relative; margin-top:20px; height:110px; width:926px; background-position:0 -225px;}
.step-bubble{position:absolute; top:15px; width:91px; height:84px;}
.step-add{ display:block; height:53px; width:91px;}
.step-add-1{left:78px;}
.step-add-1 .step-add{background-position:0 -365px;}
.step-add-1 .step-add.active{background-position:-101px -365px;}
.step-add-2{left:480px;}
.step-add-2 .step-add{background-position:-202px -365px;}
.step-add-2 .step-add.active{background-position:-303px -365px;}
.step-indicator{display:block; height:22px; width:22px; position:absolute; left:50%; margin-left:-10px; bottom:0; background-position:-947px -225px}
.step-ad-reg-1,
.step-ad-reg-2,
.step-ad-reg-3{width:131px;}
.step-ad-reg{ display:block; height:53px; width:131px;}
.step-ad-reg-1{left:78px;}
.step-ad-reg-1 .step-ad-reg{background-position:-454px -365px;}
.step-ad-reg-1 .step-ad-reg.active{background-position:-595px -365px;}
.step-ad-reg-2{left:363px; width:171px;}
.step-ad-reg-2 .step-ad-reg{background-position:-736px -365px; width:171px;}
.step-ad-reg-2 .step-ad-reg.active{background-position:-423px -868px;}
.step-ad-reg-3{left:702px;}
.step-ad-reg-3 .step-ad-reg{background-position:-141px -868px;}
.step-ad-reg-3 .step-ad-reg.active{background-position:-282px -868px;}

.wrap{margin:0 auto; width:1000px;}
.top-head{width:100%; background-position:0 88px; height:128px; background-repeat:repeat-x;}
.header{width:1000px; margin:0 auto;}
.header-master{height:81px;}
.main{width:100%; padding-top:14px;}
.sidebar{width:320px;}
.logo{padding:7px 0 0 17px; width:430px;}
.brand{height:52px; width:350px; background-position:-105px -995px;}
.ad-brand{background-position:-485px -995px; }
.front-brand{background-position:-180px -1359px; width:430px;}
.home-brand{background-position:0 -1933px; width:500px;}
.front-mb-brand{background-position:-598px -1933px;}
.master-section{color:#c0bcb9; font-size:16px; font-weight:normal; padding:27px 0 0 30px;}
.welcome-info{color:#707070; font-size:12px; padding:42px 10px 0 0;}
.welcome-info a{color:#333333; text-decoration:none;}
.welcome-info a:hover{text-decoration:underline;}
.welcome-info .user-name{color:#ff7a03;}
.welcome-info .seprator{color:#333333; padding:0 5px;}
.welcome-info .welcome-decoration-link{padding-left:15px;}
.welcome-info .welcome-login{background:image_url('icon_login.png') no-repeat 0 2px;}
.welcome-info .welcome-signup{background:image_url('icon_signup.png') no-repeat 0 3px;}

.nav{width:100%;}
.nav ul{padding-left:50px;}
.nav li{float:left; background:image_url('sprits.png') no-repeat right -95px; background-repeat:no-repeat; padding:0 15px;}
.nav .end-li{background:none;}
.nav a{color:#414141; float:left; font-size:16px; font-weight:bold; text-decoration:none; padding:0 0 0 6px;  display:block; text-align:center;}
.nav span{display:block; height:32px; line-height:32px; float:left; padding:10px 6px 0 0; width:88px; cursor:pointer;}
.nav a:hover,
.nav .active{background:image_url('sprits.png') no-repeat 0 -50px; color:#fff;}
.nav a:hover span,
.nav .active span{background:image_url('sprits.png') no-repeat right -50px; line-height:26px;}

.my-profile-nav{
  border-bottom:1px solid #e2d1c9;
  margin:0;
}
.my-profile-nav li{
  float:left;
  margin-right:3px;
  width:90px;
}
.my-profile-nav a{
  text-decoration:none;
  display:block;
  height:28px;
  text-align:center;
  line-height:28px;
  margin-bottom:-1px;
  color:#444444;
  position:relative;
  background-position:0 -673px;
}
.my-profile-nav .active a{
  background-position:0 -723px;
  color:#444444;
}
.my-invite-nav{
  border-bottom:none;
  padding-left:22px;
}



.ad-owner{padding-left:15px; padding-top:5px;}
.ad-name{color:#b7804f; font-size:14px;}
.ad-account-view{padding-top:15px;}

.ad-account-balance{width:791px; margin:0 auto; padding-top:45px;}

.copywriter{padding-top:34px;}
.copy-basic{width:552px;}
.copy-basic-review{margin-top:12px;}
.copy-basic-review .disabled-text{color:#777777;}
.copy-basic-review li{padding:6px 0;}
.copy-basic-review a{color:#888888; text-decoration:none;}
.copywriter-list{margin-top:25px; padding-top:20px; border-top:1px dotted #d6d6d6;}
.copywriter-list-top-touch{border:none; margin:0;}
.copywriter-list-top-touch-2{border:none; padding-top:0;}
.copywriter-added li{padding:20px 0; border-bottom:1px dotted #d6d6d6;}
.copywriter .cw-detail p{font-size:12px; line-height:18px;}
.cw-number{width:39px; height:44px; display:block; background-position:-405px -364px; text-align:center; line-height:42px; color:#fff; font-size:30px;}
.cw-img-container{height:148px; width:185px; border:1px solid #dad1c9;}
.cw-img-container td{height:148px;}
.cw-img-container td{vertical-align:middle;}
.cw-img{padding:0 0 0 5px; display:block;}
.cw-detail{width:314px; position:relative;}
.cw-detail-inner{background:#f7f5f3; padding:13px; line-height:20px; height:122px;}
.cw-close-button{display:block; height:20px; position:absolute; cursor:pointer; width:20px; top:-10px; right:3px; background-position:-147px 0;}
.cw-arrow{display:block; height:23px; position:absolute; cursor:pointer; width:9px; top:60px; left:-9px; background-position:-194px 0;}
.cw-status{padding-top:5px;}
.cw-status span{line-height:27px;}
.copywriter-added .mb-task-set li{padding:0 0 5px; border:none;}
.mb-task-options{width:560px;}
.mb-task-options-box{padding-bottom:8px;}

.cw-add-form{width:352px;}
.cw-add-fields{padding:15px 15px 15px 14px; position:relative; width:323px;}
.cw-add-item{padding-top:15px;}
.btn_add_cw_img{vertical-align:middle; margin-right:10px;}
.cw-form-sepline{height:1px; display:block; overflow:hidden; margin:40px 0 0 0; background:#ebe5df; border-top:1px solid #d3c9be;}
.cw-form-tip{padding:15px 15px 100px 14px;}
.cw-form-tip p{font-size:12px; padding-top:6px;}

.mb-task{padding-top:6px;}
.mb-task p{padding-bottom:10px;}
.mb-task-title{font-size:18px; margin-right:15px;}
.mb-task-list{padding-top:0;}
.mb-task-list .cw-img{padding:0; width:185px;}
.mb-task-list .cw-detail{width:722px;}
.mb-task-set{padding:13px 13px 0 13px;}
.mb-task-set p{padding-bottom:10px;}
.mb-task-set .task-set-end{padding-bottom:0;}
.mb-task-account{padding:0 10px 20px 10px;}
.mb-task-search{padding-top:2px;}
.mb-task-tick{padding-top:13px;}

.mb-dashboard-list .cw-detail{width:450px; position:relative;}
.mb-dashboard-list .cw-detail .button{position:absolute; right:0; bottom:0;}
.mb-dashboard-list .cw-img{width:120px;}
.mb-dashboard-list .cw-img-container {border-color:#cccccc; height:68px; width:118px;}
.mb-dashboard-list .cw-img-container td{height:68px;}
.mb-dashboard-list .cw-detail-copy{padding-top:8px; padding-bottom:10px;}

.mb-dashboard-intro{padding-top:10px;}
.mb-dashboard-m-acount{}
.mb-dashboard-avatar{height:50px; width:50px; background:#d3d3d3; position:relative;}
.mb-dashboard-m-copy{padding-left:15px; width:225px;}
.mb-dashboard-m-copy p{line-height:18px;}
.mb-dashboard-m-name{padding-bottom:8px;}
.mb-dashboard-m-copy a{color:#888888;}
.mb-dashboard-url{padding-bottom:10px;}
.mb-dashboard-m-list li{border-bottom:1px dotted #e1e1e1; padding:15px 0;}
.mb-dashboard-m-copy .mb-dashboard-button{color:#fff; margin-top:8px;}
.mb-tip{padding-top:15px;}
.mb-tip li{font-size:12px; color:#777777; line-height:18px;}
.mb-check-out-tip{padding:30px 0 0 150px; width:542px;}

.mb-bind-left{width:320px; padding-left:7px;}
.mb-bind-right{padding-left:45px; width:530px;}
.mb-bind-copy{padding:15px 0 30px;}

.mb-habit{padding:40px 15px 30px 30px;}
.mb-habit h2{padding-bottom:5px;}
.mb-habit-list{width:772px; margin:0 auto;}
.mb-habit-list li{float:left; padding:3px 0 3px 20px; width:160px; margin-bottom:3px; background:#f5f5f5;}
.mb-habit-action{text-align:center; padding:60px 0 30px;}

.ad-reg-submission{padding:130px 0 85px 0; width:600px; margin:0 auto;}
.ad-reg-submission .icon-ok{height:73px; width:73px; background-position:0 -986px;}
.ad-reg-val{padding:0 0 0 25px; width:500px;}
.ad-reg-val p{padding:15px 0 30px; line-height:20px;}

.ad-tab-inner-box{border:1px solid #e0cdc5; margin:0; padding:20px 35px; border-top-width:0;}
.ad-active-detail{padding:20px 0 30px 108px; margin-bottom:45px; border-bottom:1px dotted #d6d6d6;}
.ad-active-detail li{padding:5px 0;}
.ad-active-detail a{color:#777777;}

.mb-reg-submission{padding-top:50px;}
.mb-reg-submission .ad-reg-val{padding-top:30px;}
.mb-reg-helper{margin:0 auto;}
.reg-side-contact-title{margin:0 0 0 10px; background:none; padding-bottom:0; padding-top:5px;}

.mb-unbind{width:410px; margin:0 auto; padding-top:70px;}
.mb-unbind-no-info{height:90px; width:90px; background:image_url('icon_unbind_info.jpg') no-repeat; display:block;}
.mb-unbind-copy{padding-left:20px; width:300px;}
.mb-unbind-copy p{padding:30px 0;}

.help-center-link{text-align:center;}
.help-center-link a{color:#7eb43b;}
.help-center-icon{height:45px; width:45px; background-position:-116px -1360px; vertical-align:middle;}

.admin-page{background:#fff image_url('bg_admin_body.png') repeat-x}
.admin-page img{vertical-align:top;}
.admin-page-logo{padding-left:20px;}
.admin-page-content{width:900px; margin:0 auto;}
.admin-page-banner{padding-top:49px; text-align:center; height:171px;}
.admin-page-main{background:image_url('bg_admin_content.png') no-repeat center top;}
.admin-form-login{width:375px; margin:0 auto; position:relative; padding:70px 0;}
.admin-form-login .horizon-label{line-height:23px; height:23px;}
.admin-form-login .row{padding-bottom:11px;}
.admin-form-action{position:absolute; top:68px; left:290px;}
.admin-form-login .stardard-input{border-top-color:#9a9a9a; border-left-color:#9a9a9a;}

.form-helper{padding-left:0; margin:0 auto;}
.form-helper p{padding-bottom:25px; font-size:16px;}

.landing-h-group{text-align:center; background:image_url('bg_h4.png') repeat-x left  bottom; padding-bottom:15px;}
.landing-h-group h2{font-size:30px; padding-bottom:5px;}
.landing-copy p{padding-top:15px; line-height:18px;}
.landing-latest-news{font-size:12px; padding-top:5px;}
.landing-latest-news a{color:#555555;}
.landing-latest-news{padding-left:10px;}
.landing-latest-news li{line-height:20px; background:image_url('bullet.png') no-repeat 3px  10px; padding:2px 0 2px 12px;}

.left-col{width:175px; padding-bottom:50px;}
.title-card-nav{padding-right:4px; text-align:center;}
.title-help-center{padding-right:4px; text-align:center; padding-top:43px;}
.left-page-nav{background:image_url('bg_left_nav_bar.png') no-repeat 0  0; height:309px; width:100%;}
.left-page-nav ul{padding:16px 10px 0 16px;}
.left-page-nav li{padding-bottom:2px;}
.left-page-nav a{display:block; padding-left:12px; line-height:26px; height:26px; color:#55798c; text-decoration:none; text-align:left;}
.left-page-nav .active,
.left-page-nav a:hover{color:#fff; background:#55798c; text-decoration:none;}

.left-info-box{background:image_url('bg_info_main.png') repeat-y 0  0; margin-top:5px; width:170px;}
.left-info-box .top-bar{background:image_url('bg_info_top.png') repeat-y 0  0; height:38px;}
.left-info-box .btm-bar{background:image_url('bg_info_btm.png') repeat-y 0  0; height:7px;}

.right-col{width:825px; padding-bottom:20px;}
.right-col .sub-title{font-size:60px; font-weight:normal; font-family:Georgia, "Times New Roman", Times, serif;}
.body-copy{padding:15px 82px 20px 83px;}
.body-right-width{width:640px;}
.body-right-width .form-action{margin-top:-5px;}
.body-right-width .inquires-form{margin-top:0;}
.body-copy p{padding-top:15px; font-size:12px; line-height:18px; color:#777777;}
.body-copy .p-indent{padding-left:30px;}
.body-copy .headline-form{padding-top:25px; padding-bottom:0;}

.body-cotent-box{background:image_url('bg_column_625_main.png') repeat-y 0  0;}
.body-cotent-box .top-bar{background:image_url('bg_column_625_top.png') no-repeat 0  0; height:12px;}
.body-cotent-box .btm-bar{background:image_url('bg_column_625_btm.png') no-repeat 0  0; height:12px;}

.full-cotent-box{background:image_url('bg_fullwidth_main.png') repeat-y 0  0;}
.full-cotent-box .top-bar{background:image_url('bg_fullwidth_top.png') no-repeat 0  0; height:41px;}
.full-cotent-box .btm-bar{background:image_url('bg_fullwidth_btm.png') no-repeat 0  0; height:14px;}
.full-content-inner{width:929px; margin:0 auto; padding:30px 0;}
.full-cotent-box h2{padding:9px 0 0 27px;}

.compose-box{width:542px;}
.compose-cotent-box{background:image_url('dashboard_main.png') repeat-y 0  0; position:relative; width:542px;}
.compose-cotent-box .top-bar{background:image_url('dashboard_main_top.png') no-repeat 0  0; height:6px;}
.compose-cotent-box .btm-bar{background:image_url('dashboard_main_btm.png') no-repeat 0  0; height:7px;}
.compose-content-inner{width:498px; margin:0 auto; padding:15px 0;}

.content{padding:10px 23px 0 27px; min-height: 600px; height: auto !important; height: 600px;}
.content-narrow{padding:15px 43px 0 45px;}
.content-form{padding-left:26px; width:532px;}
.content-profile{padding-left:22px; width:532px;}
.profile-cover{background:image_url('bg_box_383_main.png') repeat-y 0  0; width:383px;}
.profile-cover .top-bar{background:image_url('bg_box_383_top.png') no-repeat 0  0; height:5px;}
.profile-cover .btm-bar{background:image_url('bg_box_383_btm.png') no-repeat 0  0; height:5px;}
.profile-cover .inner-box{padding:2px 6px 7px 8px; width:351px; margin:0 auto;}
.profile-cover .label-tip{line-height:26px;}
.profile-cover .cover-preview{padding-top:10px; padding-bottom:15px; border-top:1px solid #cccccc;}
.profile-cover .cover-preview img{vertical-align:middle;}
.content-profile-action{padding:2px 0 20px;}

.global-menu-setting{padding-top:10px;}
.global-menu-setting li{padding:4px 0;}
.global-menu-setting a{color:#000000; font-size:12px; text-decoration:none;}
.global-menu-setting i{vertical-align:text-top; margin-right:5px; cursor:pointer;}
.global-menu-setting .icon_sub_menu{vertical-align:bottom;}
.global-menu-item{padding-left:36px;}


.dashboard-message{width:100%;}
.dashboard-col{width:350px;}
.dashboard-message-review{width:350px;}
.dashboard-compose-button{background-position:0 -719px; line-height:156px; text-indent:163px; color:#9c9c9c; font-weight:bold; height:156px; width:346px; margin-bottom:20px;}
.dashboard-new-sub-button{background-position:-581px -718px; line-height:16px; text-indent:150px; color:#333333; height:42px; padding-top:32px; width:321px;}
.dashboard-stream li{padding-bottom:20px;}
.dashboard-view{background:image_url('bg_message_box.png') no-repeat 0  0; padding:10px 15px 0 15px; color:#333333; width:320px;}
.dashboard-view-btm{height:12px; background:image_url('bg_dashboard_message_btm.png') no-repeat 0  0;}
.dashboard-full-view{padding:10px 0 0; width:350px;}
.dashboard-full-view-inner{padding:0 15px 0 15px;}
.dashboard-subview{border-top:1px solid #c6c6c6; padding-top:12px; padding-bottom:12px;}
.dashboard-subview-frame{border:1px solid #c6c6c6; vertical-align:top;}
.dashboard-subview-copy{width:245px;}
.dashboard-cover{vertical-align:top; position:relative;}
.dashboard-title,
.dashboard-mask{bottom:0; position:absolute; height:28px; color:#fff;}
.dashboard-mask{width:100%; background:#000; opacity:0.5; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=50);}
.dashboard-title{color:#fff; line-height:28px; padding-left:10px;}
.dashboard-time{padding:10px 0;}
.dashboard-copy{padding:15px 0;}
.dashboard-edit{width:100%;}
.dashboard-edit a{float:left;}

.job-nav{height:34px; position:relative; width:568px; padding-left:13px; display:block; background-position:0 -1080px; color:#555555; text-decoration:none; line-height:34px; margin-top:5px;}
.job-nav:hover{text-decoration:none;}
.job-nav-light{color:#999999;}
.job-nav-button{height:12px; width:12px; display:block; position:absolute; top:11px; right:10px; background-position:-595px -1091px;}
.job-nav.active .job-nav-button{background-position:-620px -1091px;}
.job-detail{border:1px solid #cfcfcf; border-top:0; padding:0 18px 18px 18px;}
.job-detail h4{padding-top:20px;}

.contact-form-row .row{width:50%; float:left;}
.contact-form .horizon-label{width:73px;}
.contact-form .contact-form-action{padding:20px 0 0 78px;}

.be-partner{padding:25px 0; margin:20px 0 30px; border-top:1px dotted #d5d5d5; border-bottom:1px dotted #d5d5d5;}
.be-partner dl{width:50%;}
.be-partner dt{color:#b7804f; font-size:14px; font-weight:normal; padding:20px 0 15px 0;}
.be-partner dd{color:#555555; font-size:12px; line-height:20px; background:image_url('bullet_2.png') no-repeat left center; padding-left:30px;}
.addr-map{margin-top:20px;}

.home-gallery{width:100%; position:relative; margin-bottom:23px; height:303px;}
.banner{position:absolute; height:303px; overflow:hidden; width:957px;}
.home-login{height:290px; position:absolute; width:281px; background:image_url('bg_home_login.png') no-repeat; right:0; top:7px; background:image_url('bg_home_login_ie6.png') no-repeat;}
.home-login-title{height:42px; line-height:42px; padding-left:16px; font-size:16px; color:#fff; font-weight:normal;}
.home-login-form{padding:13px 0 0 10px; width:257px;}
.home-login-form .horizon-label{width:68px; height:28px; line-height:28px;}
.home-login-form .form-field-text{_padding-top:6px; _display:block;}
.home-login-form .form-field{width:164px;}
.home-login-form .form-capta{padding:0;}
.home-login-action input{vertical-align:middle;}
.home-login-action{padding-left:73px; padding-top:10px; width:164px;}
.home-login-action a{text-decoration:underline;}
.home-login-action .link-forget-helper{color:#555555;}
.home-login-option{padding-top:5px; text-align:center;}
.home-login-message{text-align:center;}
.home-login-welcome{color:#555555; font-size:12px; padding:45px 0 20px;}
.home-login-task{color:#cccccc; font-size:12px; padding-top:65px;}
.home-login-task a{color:#555555;}

.rslides_tabs{position:absolute; width:100px; bottom:20px; left:30px;}
.rslides_tabs li{float:left; width:9px; padding-right:5px;}
.rslides_tabs a{display:block; width:9px; height:9px; overflow:hidden; text-indent:-100px; background:image_url('home_gallery_focus.png') no-repeat;}
.rslides_tabs .rslides_here a{background:image_url('home_gallery_focus_active.png') no-repeat;}

.home-main{width:640px;}
.home-feature li{width:263px;}
.home-feature .home-feature-img{border:2px solid #f2dec8; height:109px; width:259px; display:block;}
.home-feature p{font-size:12px; line-height:20px; padding-top:5px;}
.home-feature a{color:#ff7a03;}

.home-share-wrap{margin-top:10px;}
.home-share{padding-top:10px;}
.home-share li{float:left; padding-top:10px; width:50%;}
.home-share  p{padding-top:5px;}
.home-share-img{border:1px solid #ededed; padding:2px; display:block; width:115px;}
.home-share-img{vertical-align:top;}
.home-share-copy{width:168px; padding:5px 0 0 10px;}

.home-chart {padding-top:5px;}
.home-chart li{padding:4px 0 3px;}
.home-chart-num{height:19px; width:19px; background:image_url('bg_home_chart.png') no-repeat; display:block; color:#fff; text-align:center; line-height:18px; font-size:11px;}
.home-chart-id{padding-left:10px;}
.home-chart-top{background:image_url('bg_home_chart_highlight.png') no-repeat;}

.home-legend-list dt{font-size:16px;}
.home-legend-list dd{float:left; padding-top:10px;}
.home-legend-list  p{font-size:12px; padding-top:5px;}

.home-new-join{padding-left:5px; margin-left:0;}
.home-new-join dd{width:50px; overflow:hidden; padding-right:30px;}
.home-new-join-avatar{display:block; height:48px; width:48px; border:1px solid #dfdfdf; background:#f8f3ed;}
.home-new-join .end{padding-right:0;}

.home-sponsor-wrap{margin-top:8px;}
.home-sponsor{padding-left:2px;}
.home-sponsor dd{width:72px; padding-right:24px;}
.home-sponsor-avatar{display:block; height:42px; width:72px; background:#cac8c8;}
.home-sponsor .end{padding-right:0;}

.front-page-contact{padding:15px 10px 10px;}
.front-page-contact li{font-size:14px; line-height:26px; background:image_url('bullet_2.png') no-repeat left center; padding-left:30px;}
.front-contact-box p{padding:0 0 10px 10px;}
.front-contact-box .button{margin-left:10px;}

.front-join{margin-left:-20px; padding-left:15px;}
.front-join dd{padding-left:20px; padding-right:0;}

.home-ad-sponsor{padding-left:0; margin-left:-50px;}
.home-ad-sponsor dd{padding-left:50px; padding-right:0; padding-top:15px; width:120px;}
.home-ad-sponsor .home-sponsor-avatar{width:120px; height:70px;}

.box-front-progress{padding-left:15px; padding-right:15px; margin-bottom:10px;}
.box-new-join{margin-top:10px;}
.box-home-chart{margin-bottom:0;}
.front-page-progress{height:95px; width:610px; position:relative; background:image_url('bg_front_page_progress.png') no-repeat 0 82px; }
.front-page-progress .step-bubble{position:absolute; top:0; width:56px; height:95px;}
.front-page-progress .step-indicator{background:image_url('bg_indicator_normal.png') no-repeat 0 0; _bottom:-1px;}
.front-page-progress .active .step-indicator{background:image_url('bg_indicator_active.png') no-repeat 0 0;}
.step-front{ display:block; height:70px; width:56px;}
.step-front-1{left:22px;}
.step-mb-icon-1{background-position:-264px -1492px;}
.front-page-progress .active .step-mb-icon-1{background-position:-265px -1676px;}
.step-front-2{left:147px;}
.step-mb-icon-2{background-position:-67px -1492px;}
.front-page-progress .active .step-mb-icon-2{background-position:-67px -1676px;}
.step-front-3{left:274px;}
.step-mb-icon-3{background-position:-1px -1492px;}
.front-page-progress .active .step-mb-icon-3{background-position:-1px -1676px;}
.step-front-4{left:399px;}
.step-mb-icon-4{background-position:-132px -1492px;}
.front-page-progress .active .step-mb-icon-4{background-position:-131px -1676px;}
.step-front-5{left:529px;}
.step-mb-icon-5{background-position:-196px -1492px;}
.front-page-progress .active .step-mb-icon-5{background-position:-195px -1676px;}

.step-front-ad-1{left:22px;}
.step-ad-icon-1{background-position:-1px -1583px;}
.front-page-progress .active .step-ad-icon-1{background-position:-1px -1832px;}
.step-front-ad-2{left:147px;}
.step-ad-icon-2{background-position:-67px -1583px;}
.front-page-progress .active .step-ad-icon-2{background-position:-67px -1833px;}
.step-front-ad-3{left:274px;}
.step-ad-icon-3{background-position:-132px -1583px;}
.front-page-progress .active .step-ad-icon-3{background-position:-132px -1832px;}
.step-front-ad-4{left:399px;}
.step-ad-icon-4{background-position:-196px -1583px;}
.front-page-progress .active .step-ad-icon-4{background-position:-196px -1832px;}
.step-front-ad-5{left:529px;}
.step-ad-icon-5{background-position:-264px -1583px;}
.front-page-progress .active .step-ad-icon-5{background-position:-263px -1832px;}

.link-go-top{height:42px; width:43px; display:none; background-position:-669px -1359px; overflow:hidden; left:50%; margin-left:500px; position:fixed; _position: absolute; bottom:110px; _bottom: "auto";}
.link-go-top:hover{background-position:-720px -1359px;}
.link-global-service{height:107px; width:30px; display:block; background-position:-790px -1359px; overflow:hidden; left:50%; margin-left:500px; position:fixed; _position: absolute; top:185px; _bottom: "auto";}

.error-404{width:419px; margin:0 auto; padding-top:70px;}
.error-back-home{text-align:center; padding:50px 0 0 0;}

.thread-nail{width:198px;}
.biaoti{ font-size:14px; color:#444444; font-weight:bold; padding-bottom:5px; line-height:21px; text-align:left;}
.like{ color:#888888; font-size:10px;  text-align:left;}
.like a{ color:#4786dc;font-size:12px; text-decoration:none; font-family:Arial, Helvetica, sans-serif;}
.content .like{ text-align:left; display:block; padding-top:10px;}
.content span a{padding:0 3px;}
.content span .first{padding-left:0;}
.content .v-sepline{font-size:10px; color:#888888;}
.num{
  margin-top:10px;background-image:image_url('pinglun_bg.png');
  display:block;
  height:23px;
  width:224px;
  margin-right:10px;
  overflow:hidden;
}

.num  span{display:block; color:#666666; font-size:12px;}
.num  a{  display:block; color:#666666;font-size:12px;}
.num  a:hover{ display:block;  color:#888888;font-size:12px;}
.num .nub{ padding:6px 0 0 18px; text-align:left;}
.num .xihuan{ padding:6px 0 0 25px; text-align:left;}
.num .pinglun{ padding:6px 0 0 45px; text-align:left;}
.fenxiang{ width:224px; font-size:12px; padding-top:5px;}
/*.fenxiang span{ padding-right:10px;}*/

.pagination {
  height: 36px;
  display: block;
  font-size:12px;
  font-family:Arial, Helvetica, sans-serif;
  color:#444444;
}
.pagination ul {
  display: inline-block;
  margin-bottom: 0;
}
* html .pagination ul{display:inline;}
*:first-child+html .pagination ul{display:inline;}

.pagination li {
  display: inline;
}
.pagination a,
.pagination .pagination_inner {
  float: left;
  line-height: 24px;
  padding: 0 5px;
  text-decoration: none;
}
.pagination .page-redirect{
  background:#f1f1f1;
  border:1px solid #b8b8b8;
  width:35px;
  padding:0;
  text-align:center;
  height:22px;
  line-height:22px;
  color:#000;
}
.pagination a:hover, .pagination .active a {
  background-color: #F5F5F5;
}
.pagination .active a {
  color: #999999;
  cursor: default;
}
.pagination .disabled span, .pagination .disabled a, .pagination .disabled a:hover {
  background-color: transparent;
  color: #999999;
  cursor: default;
}
.pagination-centered {
  text-align: center;
}
.pagination-right {
  text-align: right;
}

.footer{padding:15px 20px 30px 20px;}
.footer li,
.footer p,
.footer a{color:#c0bcb9;}
.footer-link li{display:inline; padding-right:10px;}
.copy-right{text-align:right;}

#persist-footer{border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; padding:20px 0; width:320px; left:50%; margin-left:179px; position:fixed; _position: absolute; bottom:50px; _bottom: "auto"; display:none;}
#persist-footer p{color:#999999;}
#persist-footer a{color:#666666; text-decoration:none;}
#persist-footer a:hover{text-decoration:underline;}
#persist-footer ul{padding:15px 0 5px;}
#persist-footer li{display:inline; padding-right:10px;}

.icon{overflow:hidden; font-size:0; line-height:0; background-repeat:no-repeat; background-image:image_url('icon_sprits.png');}
.icon_helper{background-position:0 0; width:15px; height:15px; vertical-align:text-top; margin-right:5px;}
.icon_close{position:absolute; width:18px; height:17px; background-position:0 -21px; top:11px; right:13px;}
.icon_arrow{position:absolute; width:14px; height:23px; background-position:0 -48px; top:44px; left:-13px;}
.icon_upload{width:21px; height:20px; background-position:0 -82px;}

.icon_folder{width:15px; height:14px; background-position:0 -143px;}
.icon_collapse_arrow{width:11px; height:11px; background-position:0 -126px;}
.icon_expand_arrow{width:11px; height:11px; background-position:0 -111px;}
.icon_add_menu{width:13px; height:12px; background-position:0 -160px;}
.icon_edit_menu{width:13px; height:12px; background-position:0 -176px;}
.icon_delete_menu{width:13px; height:12px; background-position:0 -195px;}
.icon_sub_menu{width:16px; height:16px; background-position:0 -215px;}

.btn{border:1px solid #bdbdbd; background:image_url('bg_button.gif') repeat; padding:0 10px; line-height:24px; position:relative; margin:0; color:#555555; text-decoration:none; outline:none; text-align:center;}
.btn-mini{padding:0 5px; line-height:21px;}
.btn-small{line-height:18px;}
.btn-light-bg{background:#ffffff;}
.keyword-mark{background:#e5e5e5;}
.btn-submit{border:1px solid #1b67be; line-height:27px; color:#ffffff; background-position:0 -24px; font-size:14px;}
.btn-session{line-height:20px; vertical-align:middle; cursor:pointer; position:relative; font-size:14px;}
.btn-blue{border:1px solid #668812;  line-height:27px; color:#ffffff; background-position:0 -51px; font-size:14px;}
.btn-secondary{background:#e5e5e5;  line-height:27px; font-size:14px;}
.error-bar{
  background:#f2dedf; border:none; -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; text-align:left; color:#b96865; font-size:14px; line-height:33px; padding:0 14px;
}
.success-theme{background:#DFF0D8; color: #468847;}
.success-theme-b{background:#D9EDF7;}
.btn-min-width{width:70px;}

.in-lt-bn{background-position:0 -20px; left:-1px; top:-1px;}
.in-lr-bn{background-position:-2px -20px; right:-1px; top:-1px;}
.in-bl-bn{background-position:0 -22px; left:-1px; bottom:-1px;}
.in-br-bn{background-position:-2px -22px; right:-1px; bottom:-1px;}

.in-lt-mk{background-position:0 -24px; left:-1px; top:-1px;}
.in-lr-mk{background-position:-3px -24px; right:-1px; top:-1px;}
.in-bl-mk{background-position:0 -27px; left:-1px; bottom:-1px;}
.in-br-mk{background-position:-3px -27px; right:-1px; bottom:-1px;}

.in-lt-acn{background-position:0 -40px; left:-1px; top:-1px;}
.in-lr-acn{background-position:-4px -40px; right:-2px; top:-1px;}
.in-bl-acn{background-position:0 -44px; left:-1px; bottom:-1px;}
.in-br-acn{background-position:-4px -44px; right:-2px; bottom:-1px;}

.in-lt-blu{background-position:0 -56px; left:-1px; top:-1px;}
.in-lr-blu{background-position:-4px -56px; right:-2px; top:-1px;}
.in-bl-blu{background-position:0 -60px; left:-1px; bottom:-1px;}
.in-br-blu{background-position:-4px -60px; right:-2px; bottom:-1px;}

.in-lt{background-position:0 0; left:-1px; top:-1px;}
.in-lr{background-position:-5px 0; right:-1px; top:-1px;}
.in-bl{background-position:0 -5px; left:-1px; bottom:-1px;}
.in-br{background-position:-5px -5px; right:-1px; bottom:-1px;}

.in-lt-g{background-position:0 -10px; left:-1px; top:-1px;}
.in-lr-g{background-position:-5px -10px; right:-1px; top:-1px;}
.in-bl-g{background-position:-15px -5px; left:-1px; bottom:-1px;}
.in-br-g{background-position:-15px -5px; right:-1px; bottom:-1px;}

.in-lt-col{background-position:0 -84px; left:-1px; top:-1px;}
.in-bl-col{background-position:0 -89px; left:-1px; bottom:-1px;}

.in-lt-err{background-position:0 -94px; left:0; top:0;}
.in-lr-err{background-position:-5px -94px; right:0; top:0;}
.in-bl-err{background-position:0 -99px; left:0; bottom:0;}
.in-br-err{background-position:-5px -99px; right:0; bottom:0;}
.in-close{width:11px; height:10px; background-image:image_url('btn_error_bar_close.png'); background-repeat:no-repeat; right:14px; top:11px; cursor:pointer;}

.success-theme .in-lt-err{background-position:0 -104px;}
.success-theme .in-lr-err{background-position:-5px -104px;}
.success-theme .in-bl-err{background-position:0 -109px;}
.success-theme .in-br-err{background-position:-5px -109px;}

.success-theme-b .in-lt-err{background-position:0 -114px;}
.success-theme-b .in-lr-err{background-position:-5px -114px;}
.success-theme-b .in-bl-err{background-position:0 -119px;}
.success-theme-b .in-br-err{background-position:-5px -119px;}


.in-lt-pr{background-position:0 -72px; left:0; top:0;}
.in-lr-pr{background-position:-2px -72px; right:0; top:0;}
.in-bl-pr{background-position:0 -74px; left:0; bottom:0;}
.in-br-pr{background-position:-2px -74px; right:0; bottom:0;}

.in-lt-tb{background-position:0 -80px; left:-1px; top:-1px;}
.in-lr-tb{background-position:-3px -80px; right:-1px; top:-1px;}

.in-lt-gl{background-position:0 -133px; left:-1px; top:-1px;}
.in-lr-gl{background-position:-5px -133px; right:-1px; top:-1px;}

.borderradius .in-lt,
.borderradius .in-lr,
.borderradius .in-bl,
.borderradius .in-br,
.borderradius .in-lt-g,
.borderradius .in-lr-g,
.borderradius .in-bl-g,
.borderradius .in-br-g,
.borderradius .in-lt-col,
.borderradius .in-bl-col,
.borderradius .error-bar .icon{display:none;}
.borderradius .error-bar .icon.in-close{display:block;}

.inline-block{display:inline-block;}
* html .inline-block{display:inline;}
*:first-child+html .inline-block{display:inline;}

.anchor{font-size:12px; line-height:20px; vertical-align:middle; color:#999999; text-decoration:none; padding:0 8px; margin-bottom:5px; background:#f1f1f1;}
.anchor:hover{color:#ffffff; background:#4786dc;}
.premant{font-size:18px; line-height:1.5em;}
.social-network-pin{margin-bottom:10px; display:block;}
.loading-wrap{text-align:center; padding-bottom:20px;}
.loading{background:#eaeced; padding:4px; font-size:75%;}
.loading-box {background:#ffffff; border:1px solid #cccccc; padding:6px 20px;}
.load-text{padding-left:20px;}
.loading-box span{vertical-align:middle;}
.subpage{font-size:75%; line-height:1.3em;}
.post-rule strong{font-size:14px;}
.post-rule p{margin-bottom:15px; line-height:25px;}

.form-sets{padding:55px 0 0 0;}
.form-ad-profile{padding:88px 0 0 0;}
.form-add-active{width:550px; padding-left:50px;}
.form-ad-sign-up{margin:0; padding-left:30px;}
.form-action{padding:30px 0 0 100px;}
.form-input-tip{padding:0 0 5px 100px; margin-top:-5px;}
.form-options{margin-top:5px;}
.form-capta{line-height:23px; position:relative; vertical-align:top; top:5px; padding:0;}
.landscape-form-action{padding-top:25px;}

.form-ad-sign-in{width:283px; margin-top:50px; padding-left:24px; padding-bottom:100px; border-left:1px solid #ededed;}
.form-ad-sign-button{padding:25px 8px;}
.form-ad-sign-button h2{padding-bottom:15px;}
.form-ad-address{padding:25px 8px; line-height:20px;}

.form-sms-val{padding-top:5px;}

.row{padding-bottom:20px;}
.narrow-row{padding-bottom:15px;}
.column{padding-right:30px;}
.column label{line-height:24px;}
.column .data-pick-label{_float:left;}
.horizon-label{float:left; display:block; width:95px; padding-right:5px; text-align:right; line-height:32px; height:32px; font-size:14px;}
.landscape-label{display:block; padding-bottom:8px;}
.label-tip{color:#595959; font-size:12px;}
.form-field-link{line-height:32px; font-size:12px; padding-right:60px;}
.arsk{color:#d20000; padding:0 5px;}
.block-label{display:block;}
.label-gray{color:#888888;}
.label-left-align .horizon-label{text-align:left; width:85px;}
.label-left-align-action{padding-left:90px;}
.label-right-align-action{padding-left:100px;}
.form-field{float:left; position:relative;}
.form-field .message{position:absolute; top:0; width:250px; line-height:32px; padding-left:5px; color:red;}
.form-field-text{line-height:32px;}
.form-field-narrow{padding-top:6px;}
.inline-form-field{float:none;}
.form-tip{color:#808080; font-size:14px;}
.input-box{height:32px; vertical-align:middle;}
.input-323{background-position:0 -529px; height:121px; width:323px;}
.input-323 .txt-input{width:310px; height:109px; line-height:16px; overflow:auto;}
.input-422{background-position:0 -1199px; height:81px; width:422px;}
.input-422 .txt-input{width:410px; height:69px; line-height:16px; overflow:auto;}

.input-220{width:220px; background-position:0 -461px;}
.input-220 .txt-input{width:208px;}
.input-229{width:229px; background-position:0 -501px;}
.input-229 .txt-input{width:217px;}
.input-470{width:470px; background-position:0 -541px;}
.input-470 .txt-input{width:458px;}
.input-325{width:325px; height:42px; background-position:0 -409px;}
.input-325 .txt-input{width:313px; height:30px; line-height:30px; font-size:18px;}

.input-395{width:395px; height:26px; margin-top:5px; background:image_url('bg_input_395.png') no-repeat;}
.input-395 .txt-input{width:387px; line-height:14px; height:14px;}
.input-164{width:164px; height:28px; background:image_url('bg_input_174.png') no-repeat;}
.input-164 .txt-input{width:152px; line-height:16px; height:16px;}
.txt-input{background:none; border:none; outline:none; color:#c2c2c2; font-size:12px; height:20px; line-height:20px; font:Arial, Helvetica, sans-serif; padding:6px;}
.txt-input:-webkit-autofill {
  background-color: none !important;
  background-image: none !important;
  color: #c2c2c2 !important;
}
.stardard-input{border:1px solid #d3ccc3; padding:3px 6px; height:21px; line-height:21px; width:166px; background:#fff; color:#c2c2c2; font-size:12px;}
.txt-pagination{width:23px; height:16px; line-height:16px;}
.st-short{width:80px;}
.st-long{height:19px; line-height:19px; width:488px;}
.stardard-select{outline:none; padding:3px 0;}
.input-info{padding-left:10px; color:#b7804f;}
.select-field{padding:4px; height:30px; line-height:30px; font-size:14px; color:#c2c2c2; width:220px;}
.mock-select{height:24px; width:113px; line-height:22px; padding-left:5px; background-position:0 -776px; position:relative;}
.button-upload{position:absolute; top:3px; color:#000; left:5px; vertical-align:top; line-height:14px;}
.button-upload .label-upload{vertical-align:top; position:relative; left:5px; top:3px;}
.input-upload{padding-left:60px; width:428px;}
.discription{padding-top:5px; color:#cbcbcb; margin-bottom:0;}
.discription2{color:#cbcbcb;}
.popup-select-mb{height:182px; width:281px; font-size:12px; background-position:-219px 0; position:absolute; top:30px; left:0;}
.popup-select-mb-inner{padding:13px 12px;}
.popup-mb-account{padding:8px; width:240px; height:123px; overflow:auto;}
.compose-editor-menu{border:1px solid #cccccc; vertical-align:top;}
.input-compose-browser{border:1px solid #cccccc; border-top:none; overflow:auto; padding: 3px 6px; width:484px; margin:0; outline:none; height:312px;}
.compose-action{padding-top:20px;}
.compose-action input{margin-right:20px;}

.ad-form-profile{width:550px; padding-bottom:70px;}
.ad-form-profile .horizon-label{width:120px;}
.ad-form-profile .form-action{padding-left:125px;}
.ad-form-profile .form-input-tip{padding-left:125px;}

.gray-box{background:#f6f6f6; padding:15px; margin-top:10px;}
.gray-box .keyword-mark{margin-top:8px;}
.sub-form-title{padding-bottom:5px;}
.post-error-msg{padding:0 0 5px 140px;}
.recomend-keyword{position:relative;}
.link-chage-keyword-group{position:absolute; right:15px; top:15px; color:#4786dc; text-decoration:underline;}
.post-submission .gray-box{margin-bottom:20px;}
.post-submission .post-opt-out{color:#666666;}
.post-th-title{vertical-align:middle; margin:0 30px 0 10px;}
.link-back-home{vertical-align:top; position:relative; top:35px;}
.post-opt-out{padding-bottom:20px; display:block;}

.reg-form{padding:85px 0 0 85px;}
.reg-check-code{margin-bottom:5px;}
.reg-check-code .message{top:5px;}
/*.reg-code-img{border:1px solid #797979; vertical-align:top; margin:0 5px;}*/
.reg-code-img{
  vertical-align:top; margin:0 5px;
}
.reg-code-img img{
  border:1px solid #797979;
}
.reg-code-img a {
  text-decoration:none;
  vertical-align:bottom;
}

.reg-code-ipt{vertical-align:top;}
.reg-code-ipt a{color:#4786dc; text-decoration:underline;}
.reg-action{padding:20px 0;}

.other-login{background:image_url('bg_sepline.gif') no-repeat 0 30px; padding:85px 25px 0 53px; width:220px; min-height:420px;}
.title-other-service{padding:30px 0 10px 0;}

.sn-login li{width:49%; line-height:16px; padding-bottom:10px; vertical-align:middle; float:left;}
.sn-login a{color:#444444; text-decoration:none;}
.i-sn{height:16px; width:16px; overflow:hidden; background-image:image_url('icon_sn.gif'); background-repeat:no-repeat; vertical-align:top; margin-right:8px;}
.down-arrow{height:12px; width:12px; vertical-align:middle; background-position:0 -494px; margin-right:0; margin-left:3px;}
.btn-report-abuse .down-arrow{vertical-align:top; position:relative; top:5px;}
.icon-smilly{height:21px; width:21px; vertical-align:top; position:relative; background-position:0 -506px; margin-right:3px; top:-1px; margin-left:3px;}
.link-weibo{background-position:0 0;}
.link-sina-sn{background-position:0 -728px; height:14px;}
.link-tt-sn{background-position:0 -712px;}
.link-qzone{background-position:0 -664px;}
.link-douban{background-position:0 -616px;}
.link-taobao{background-position:0 -16px;}
.link-qq{background-position:0 -32px;}
.link-renren{background-position:0 -48px;}
.link-netease{background-position:0 -64px;}
.link-baidu{background-position:0 -80px;}
.link-like{background-position:0 -527px;}
.link-comment{background-position:0 -543px;}
.post-title{vertical-align:top; color: #888888; font-size:16px; position:relative; top:10px; left:5px; line-height:16px;}
.post-title-icon{width:33px; height:36px; background-position:0 -741px;}

.btn-login{vertical-align:top;}
.link-forget-psw{vertical-align:top; padding:10px 0 0 20px; color:#4786dc; text-decoration:underline;}

.profile-form{width:400px; margin:0 auto; padding:55px 0 50px 0;}
.profile-form .form-field{width:310px; position:relative;}
.profile-form .form-tip{position:absolute; width:200px; left:320px; top:5px;}
.update-password{width:385px;}
.update-password .horizon-label{width:70px;}
.reset-password{width:410px;}
.profile-nav{padding:20px 0 0 0;}
.profile-nav li{display:inline; font-size:14px;}
.profile-nav .sepline{padding:0 5px;}
.profile-nav a{color:#111111; text-decoration:none; font-size:14px;}
.profile-nav .active{color:#4786dc;}

.helper-form{height:365px; padding-top:90px;}
.helper-width{width:470px;}
.helper-width .horizon-label{width:100px;}
.helper-width .form-field{width:335px;}
.helper-width .label-right-align-action{padding-left:105px;}
.helper-width .helper-inline{padding-bottom:5px;}

.password-reset-done{padding:70px 0 0 100px; height:395px;}
.password-reset-done p{padding-bottom:15px;}
.password-reset-done .txt-link{color:#878787; text-decoration:none;}
.password-reset-done .txt-link:hover{text-decoration:underline;}


.section-nav{padding-left:20px; height:31px; position:relative; z-index:10;}
.section-nav a{float:left; display:block; padding:0 12px 0 12px; line-height:30px; height:30px; background:#f0f0f0; color:#888888; border:1px solid #cdcdcd; text-decoration:none; border-bottom:none; position:relative; font-size:14px;}
.section-nav .end{border-left:none;}
.section-nav .active{border-color:#1b67be; background:#4886dc image_url('bg_button.gif') no-repeat 0 -78px; color:#ffffff;}
.section-nav .arrow{width:11px; height:6px; margin:0; position:absolute; background-position:0 -590px; bottom:-6px; left:35px;}

.profile-edit-avatar{padding:50px 0 100px 130px;}
.profile-avatar-form{padding:20px 0;}
.profile-sync {padding:50px 0;}
.profile-sync a{font-size:14px;}
.profile-sync h2{font-weight:normal; padding:2px 0 10px; font-size:12px; color:#555555;}
.profile-sync li{float:left; padding-bottom:30px; width:49%;}
.profile-sync .i-sn{height:61px; width:61px; vertical-align:top;}
.link-sync-sina{background-position:0 -96px;}
.link-sync-qq{background-position:0 -157px;}
.link-sync-qzone{background-position:0 -218px;}
.link-sync-renren{background-position:0 -279px;}
.link-sync-douban{background-position:0 -340px;}
.link-sync-netease{background-position:0 -401px;}
.invite-log{padding-bottom:60px;}
.invite-headline{padding:20px 23px 10px 23px;}
.invite-headline .green-text{font-size:14px;}
.invite-friends{border-top: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; margin-bottom:0;}
.invite-friends th{background:#f0f0f0; font-weight:normal; font-size:14px; color:#666666; text-align:center;}
.invite-friends-main{margin:0 auto; width:910px;}
.invite-friends-main td{vertical-align:middle; border-bottom: 1px dotted #DDDDDD; border-top:none; color:#444444; text-align:center; font-size:14px;}
.invite-friends-main .date{color:#888888;}
.table .tLeft{text-align:left;}
.table .tCenter{text-align:center;}
.table .vTop{vertical-align:top;}

.pn-place-center{text-align:center;}
.pn-place-center ul{margin:0;}

.i-en{margin-right:2px;}
.i-sn-min{height:12px; width:12px; vertical-align:top; position:relative; top:1px; line-height:12px;}
.i-usr-like{background-position:0 -462px; position:relative; top:2px; vertical-align:top;}
.i-usr-unlike{background-position:-26px -462px; position:relative; top:3px; vertical-align:top;}
.i-usr-comment{background-position:0 -478px; position:relative; top:3px; vertical-align:top;}
.i-usr-like-min{background-position:0 -777px;}
.i-usr-comment-min{background-position:0 -789px; margin-left:6px;}
.i-usr-fav{background-position:0 -853px; position:relative; vertical-align:top; top:4px;}
.i-finder{background-position:0 -869px; position:relative; vertical-align:top;}
.i-comment-like{background-position:0 -886px;}
.i-comment-unlike{background-position:0 -902px;}
.i-comment-cmt{background-position:0 -918px;}

.checkbox{line-height:18px;}
.check-box{margin:0; padding:0;}
.submit-comment-option{padding:5px 8px 0 0;}

.local-file-upload{margin-bottom:30px;}
.file-upload-nav{border-bottom:1px solid #bdbdbd; height:25px;}
.file-upload-nav li{float:left; margin-bottom:-1px; margin-right:2px; line-height:24px;}
.file-upload-nav .error{padding-left:10px;}
.file-upload-nav a{background-position:0 -134px; border-bottom:1px solid #bdbdbd; line-height:24px;}
.file-upload-nav .active a{background-position:0 -108px; border-bottom:none; height:25px;}
.file-upload-nav .active .in-lt-tb{background-position:0 -76px; left:-1px; top:-1px;}
.file-upload-nav .active .in-lr-tb{background-position:-3px -76px; right:-1px; top:-1px;}
.upload-img-box{border-top:none; height:110px; position:relative;}
.btn-add-img{background:#e8e8e8; border:none; padding:8px 20px; margin-top:35px; width:85px; height:24px; overflow:hidden; position:relative;}
.btn-add-img span{font-size:14px; line-height:21px; vertical-align:middle;}
.icon-add-img{height:21px; width:21px; background-position:0 -569px;}
.upload-select{padding:35px 0 0 60px; width:310px; text-align:left;}
.upload-img-tab-2{text-align:left;}
.upload-img-file-field{
  -moz-transform: scale(3);
  cursor: pointer;
  display: block;
  height: 39px;
  left: 0;
  position: absolute;
  top: 0;
  width: 125px;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.upload-img-front-link{position:relative; overflow:hidden;}

#hide-get-position{height:0; overflow:hidden;}

.popup-step1{height:468px; width:802px; margin:-234px 0 0 -401px; background:image_url('bg_popup_step1.png') no-repeat 0 0;}
.popup-step1 .form-action{padding:70px 32px 0 0; text-align:right;}
.popup-step-progress{height:47px; margin:132px 0 0 62px; background-position:0 -211px;}
.popup-account-name{padding:75px 0 0 158px;}
.popup-account-name .row{padding-bottom:8px;}
.popup-account-name .horizon-label{float:left; width:auto; line-height:42px; font-size:20px;}
.popup-account-name .form-tip{padding-left:155px;}

.about-left-col{padding-top:120px; width:206px;}
.about-page-nav a{display:block; padding-left:76px; line-height:29px; color:#474747; text-decoration:none;}
.about-page-nav a:hover{text-decoration:underline;}
.about-page-nav .active a{background:image_url('bg_about_nav_active.gif') no-repeat top right; font-weight:bold; color:#8c8c8c;}
.about-page-nav .active a:hover{text-decoration:none;}
.about-right-col{width:780px; min-height:500px; height:auto !important; height:500px;}
.about-body-copy{padding:20px 40px;}
.about-body-copy p{padding-top:20px; font-size:14px; line-height:1.5em;}

.bubbleInfo,
.bubblePop {
  position: relative;
}
.bubblePop{
  text-align:center;
}
.trigger {

}
.bubble-arrow{
  width:10px;
  height:8px;
  display:block;
  overflow:hidden;
  background:image_url('bubble_arrow.png');
  position:absolute;
  left:20px;
  bottom:-8px;
  overflow:hidden;
  _background:none !important;
  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/bubble_arrow.png',sizingMethod='scale');
  _bottom:-10px;
}
*:first-child+html .bubble-arrow{bottom:-7px;}
.replace-bottom{
  bottom:auto;
  top:-8px;
  background:image_url('bubble_arrow_upper.png');
}
