<div class="left-col fl">
  <div class="left-page-nav">
    <ul>
      <%= yield :sidebar_menu %>
    </ul>
  </div>

  <div class="left-info-box">
    <div class="box-bar top-bar">
      <h3><i class="inline-block icon icon_helper"></i>帮助手册一</h3>
    </div>
    <ul class="landing-latest-news">
      <li><a href="#">微薄账号的解决办法爱上啊？</a></li>
      <li><a href="#">为什么发撒旦放四大啊？</a></li>
      <li><a href="#">上大放三大发生的阿萨德飞？</a></li>
      <li><a href="#">今日关注排行？</a></li>
      <li><a href="#">安顺丰是大方大方？</a></li>
      <li><a href="#">阿闪光灯弗格森梵蒂冈？</a></li>
      <li><a href="#">撒官方的噶三等各方？</a></li>
    </ul>
    <div class="box-bar btm-bar"></div>
  </div>
  <div class="left-info-box">
    <div class="box-bar top-bar">
      <h3><i class="inline-block icon icon_helper"></i>帮助手册二</h3>
    </div>
    <ul class="landing-latest-news">
      <li><a href="#">微薄账号的解决办法爱上啊？</a></li>
      <li><a href="#">为什么发撒旦放四大啊？</a></li>
      <li><a href="#">上大放三大发生的阿萨德飞？</a></li>
    </ul>
    <div class="box-bar btm-bar"></div>
  </div>
</div>